@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import 'normalize.css';


.main-container {
  height: 100vh;
  padding: 100px;
}
.input-container {
  display: flex;
  justify-content: center;
  align-items: center;

  & button {
    margin-left: 15px;
  }
}

.users-name {
  list-style: none;
  & li {
    cursor: pointer;
  }

  & li + li {
    margin-top: 10px;
  }
}

.user-container {
  text-align: center;
}
